@page "/"

<PageTitle>Index</PageTitle>
@if (User is not null)
{
    <h1>Hello @User.FirstName</h1>

    <ul>
    @foreach (var m in User.FavoriteMovies)
    {
        <li>@m.imdbId</li>
    }
    </ul>
}


Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
