@page "/"

<PageTitle>Index</PageTitle>
@if (User is not null)
{
    <h1>Hello @User.FirstName</h1>

    <ul>
        @if (userFavoriteMovies is not null)
        {
            @foreach(var movie in userFavoriteMovies)
            {
                <li>@movie.Title (@movie.Year)</li>
            }
        }
    </ul>
}


Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
