@page "/"
@using Syncfusion.Blazor.Notifications

<PageTitle>Index</PageTitle>
@if (userFavoriteMovies?.Any() ?? false)
{
    <h2>Favorite Movies</h2>
    <div class="container">
    @for (int index = 0; index < userFavoriteMovies.Count; index+=numCols)
    {
        <div class="row gy-3">
            <div class="col-md-@(12/numCols) my-4">
                <MovieDetails Movie="userFavoriteMovies[index]" OnRemoveFavoriteMovie="RemoveFavoriteMovie" />
            </div>
        @for (int col=1; col<numCols-1; col++)
        {
            if (index + col < userFavoriteMovies.Count)
            {
                <div class="col-md-@(12/numCols) my-4">
                    <MovieDetails Movie="userFavoriteMovies[index + col]" OnRemoveFavoriteMovie="RemoveFavoriteMovie" />
                </div>
            }
        }
        </div>
    }
    </div>
}

<SfToast    @ref="ToastObj"
            Content="@toastContent"
            ShowCloseButton="true"
            ShowProgressBar="true"
            CssClass="@toastSuccess"
            Timeout="3000">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>
            