@page "/"
@using Syncfusion.Blazor.Notifications

<PageTitle>Index</PageTitle>
@if (userFavoriteMovies?.Any() ?? false)
{
    <h2>Favorite Movies</h2>
    <div class="container">

        @if (userFavoriteMovies is not null)
        {
            <div class="row gy-3">
            @foreach(var movie in userFavoriteMovies)
            {
                    <MovieDetails Movie="movie" OnRemoveFavoriteMovie="RemoveFavoriteMovie" />
            }
            </div>
        }
    </div>
}

<SfToast    @ref="ToastObj"
            Content="@toastContent"
            ShowCloseButton="true"
            ShowProgressBar="true"
            CssClass="@toastSuccess"
            Timeout="3000">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>
            