@page "/"

<PageTitle>Index</PageTitle>
@if (User is not null)
{
    <h1>Hello @User.FirstName</h1>

    <ul>
        @if (userFavoriteMovies is not null)
        {
            @foreach(var movie in userFavoriteMovies)
            {
                <li><a href="#" @onclick="@(() => movieDetails = movie)">@movie.Title (@movie.Year)</a></li>
            }
        }
    </ul>
}

<MovieDetails Movie="movieDetails" />
