@page "/"

<PageTitle>Index</PageTitle>
@if (User is not null)
{
    <h2>Favorite Movies</h2>
    <div class="container">

        @if (userFavoriteMovies is not null)
        {
            <div class="row gy-3">
            @foreach(var movie in userFavoriteMovies)
            {
                    <MovieDetails Movie="movie" OnRemoveFavoriteMovie="RemoveFavoriteMovie" />
            }
            </div>
        }
    </div>
}

<MovieDetails Movie="movieDetails" />
