<nav class="nav nav-masthead justify-content-center float-md-end">
    <NavLink class="nav-link fw-bold py-1 px-5" href="">
        Home
    </NavLink>

    <AuthorizeView>
        <Authorized>
            <NavLink class="nav-link  fw-bold py-1 px-5" href="search">Search</NavLink>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="admin">
        <NavLink class="nav-link  fw-bold py-1 px-5" href="admin">User Admin</NavLink>
    </AuthorizeView>


</nav>



@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HPCTech2023FavoriteMovie</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>




<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Search
            </NavLink>
        </div>
        <AuthorizeView Roles="admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Admin
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>*@

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
